
#    APP_LOC=/usr/share/nginx/html
#
#    DOWNLOAD_APP_CODE
    #if [ ! -z  "$APP_USER" ]; then
    #    PRINT "Adding Application User"
    #    id roboshop &>>$LOG
    #    if [ $? -ne 0 ]; then
    #      useradd roboshop &>>$LOG
    #    fi
    #    STAT $?
    #  fi
    #
    #  PRINT "Download App Content"
    #  curl -s -L -o /tmp/$COMPONENT.zip "https://github.com/roboshop-devops-project/$COMPONENT/archive/main.zip" &>>$LOG
    #  STAT $?
    #
    #  PRINT "Remove Previous Version of App"
    #  cd $APP_LOC &>>$LOG
    #  rm -rf $CONTENT &>>$LOG
    #  STAT $?
    #
    #  PRINT "Extracting App Content"
    #  unzip -o /tmp/$COMPONENT.zip &>>$LOG
    #  STAT $?
    #}
#    mv frontend-main/static/* .
#
#    PRINT "Copy RoboShop Configuration File"
#    mv frontend-main/localhost.conf /etc/nginx/default.d/roboshop.conf
#    STAT $?
#
#    PRINT "Update RoboShop Configuration"
#    sed -i -e '/catalogue/ s/localhost/dev-catalogue.rajashekar.online/'  -e '/user/ s/localhost/dev-user.rajashekar.online/' -e '/cart/ s/localhost/dev-cart.rajashekar.online/' -e '/shipping/ s/localhost/dev-shipping.rajashekar.online/' -e '/payment/ s/localhost/dev-payment.rajashekar.online/' /etc/nginx/default.d/roboshop.conf
#    STAT $?
#
#    PRINT "Enable Nginx Service"
#    systemctl enable nginx &>>$LOG
#    STAT $?
#
#    PRINT "Start Nginx Service"
#    systemctl restart nginx &>>$LOG
#    STAT $?
#

- name: Install Nginx
  ansible.builtin.yum:
    name: nginx
    state: installed

- name: Include Download App Code Tasks From Common Role
  ansible.builtin.include_role:
    name: common
    task_from: download-app-code.yml
    